* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #243a69;
    color: white;
  }
  .hamburger-menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 5px;
  }
  .hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: white;
    display: block;
  }
  .header-icons {
    display: flex;
    gap: 48px;
    padding-left: 88px;
    padding-right: 56px;
  }
  .header-icons a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
    padding: 6px;
    border-radius: 8px;
  }
  .header-icons a img.icon {
    width: 28px;
    height: 28px;
  }
  .header-icons a:hover,
  .header-icons a:focus {
    background-color: #4098D0;
  }
  .header-search {
    display: flex;
    align-items: center;
    background-color: #3F5A96;
    border-radius: 12px;
    padding: 10px;
    flex-grow: 1;
    margin: 0 20px;
    color: white;
  }
  .header-search input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #D3D3D3;
    padding-left: 8px;
  }
  .header-search input::placeholder {
    color: #D3D3D3;
  }
  .header-search img {
    width: 20px;
    height: 20px;
  }
  .profile-group {
    margin-left: 72px;
    margin-right: 72px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .profile-group img {
    width: 28px;
    height: 28px;
    margin-right: 2px;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #E8E8E8;
    border-radius: 8px;
    width: 140px;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .dropdown-menu a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    color: #4F4F4F;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .dropdown-menu a:hover {
    background-color: #d3d1d1;
    border-radius: 10px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #243a69;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    z-index: 1000;
  }
  .sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    transition: all 0.3s ease;
  }
  .sidebar a img.icon {
    width: 28px;
    height: 28px;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
  }
  .overlay.show {
    display: block;
  }
  @media (max-width: 864px) {
    .header-icons {
      display: none;
    }
    .hamburger-menu {
      display: flex;
    }
    .header-search {
      max-width: 80%;
      margin: 0 auto;
    }
    .profile-group {
      display: none;
    }
  }
  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .carousel-track {
    display: flex;
    transition: transform 0.3s ease;
  }
  .carousel-box {
    min-width: 200px;
    margin: 0 10px;
  }
  .carousel-box img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
  }
  .nav-btn {
    background-color: #243a69;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
  }
  h2{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .sidebar a {
    padding: 10px 10px; /* Adiciona espaçamento nas laterais */
    margin-bottom: 32px;
    transition: background-color 0.2s linear;
    border-radius: 12px; /* Arredonda os cantos */
  }
  .sidebar a img[src="porta.svg"],
  .sidebar a img[src="conf.svg"],
  .dropdown-menu a img[src="porta.svg"],
  .dropdown-menu a img[src="conf.svg"] {
    filter: brightness(0) invert(1); /* Deixa o ícone na cor branca */
  }
  .sidebar a:last-child {
    margin-top: auto;
    margin-bottom: 24px; /* Ajuste conforme necessário */
  }
  .carousel-box img {
    width: 100%;
    height: 300px; /* Define uma altura padrão para manter a proporção */
    border-radius: 8px;
    object-fit: cover; /* Corta a imagem para preencher o espaço de forma uniforme */
  }